%h1= t('.page_title')

%table
  %thead
    %tr
      %th= t('.name')
      %th= t('.description')
      %th
      %th
      %th

  %tbody
    - @categories.each do |category|
      %tr
        %td= category.name
        %td= category.description
        %td= link_to t('common.show'), category
        %td= link_to t('common.edit'), edit_category_path(category)
        %td= link_to t('common.destroy'), category, :method => :delete, :data => { :confirm => t('.confirm') }

%br

= link_to t('.add_category'), new_category_path
